@import 'reset.css';

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #444444FF;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #f0f0f0;
    background-position: 270px;
    background-attachment: fixed;
    height: 100%;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header div:first-child {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
header div:last-child {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}
.user-menu {
    width: 120px;
    font-size: 0.8em;
    opacity: 0;
    transition: opacity 0.3s;
}
.user-menu ul {
    margin-top: 45px;
    margin-right: 5px;
    cursor: pointer;
}
.user-menu li {
    text-align: right;
    padding-top: 5px;
    margin-top: 5px;
}
.user-menu a {
    color: #444444FF;
    text-decoration: none;
}
.user-menu a:hover {
    text-decoration: underline
}
.user-menu:hover{
    opacity: 1;
}
.btn {
    display: flex;
    color: #444444FF;
    background: #f08080;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #f08080;
    transition: 0.3s;
}
.btn:active {
    background-color: darkgray;
}
.btn:hover {
    border: 1px solid #444444FF;
}
.btn-main {
    width: 120px;
    height: 45px;
    z-index: 10;
    font-weight: bolder;
}
.btn-size-12 {
    font-size: 1.2em;
}
.btn-white-c {
    color: white;
}
.text-white-c {
    color: white;
}
.disclaimer {
    margin-top: 15px;
    text-align: center;
}
.disclaimer > h1 {
    font-size: 2em;
    font-weight: bold;
    color: lightcoral;
}
.disclaimer > p {
    margin-top: 1.2em;
    font-style: italic;
    color: #B99D61FF;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: #F5F5F5FF;
    z-index: 1;
    padding: 20px;
}
.menu-main {
    margin-top: 40px;
}
.menu-main h3 {
    font-size: 1.2em;
    font-weight: 400;
    color: lightcoral;
    text-transform: uppercase;
    border-left: 2px solid #B99D61FF;
    padding: 2px 2px 2px 15px;
}
.menu-main li {
    margin-top: 20px;
}
.menu-main a {
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 1px;
    text-indent: 20px;
    margin: 5px 0 100px 10px;
    font-size: 1em;
    color: #444444FF;
}
.menu-main a:before {
    content: '\2014';
    margin-right: 10px;
}
.menu-main a:hover {
    color: #B99D61FF;
}
.category-menu {
    display: flex;
    position: fixed;
    width: 100%;
    height: 45px;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    margin: auto auto;
}
.category-menu a {
    color: #444444FF;
    font-weight: bolder;
    text-decoration-color: transparent;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}
.category-menu a:hover {
    text-decoration-color: lightcoral;
}
.container {
    width: 100%;
    margin: 60px auto;
}
.content {
    position: relative;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(252,252,252,.7);
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    border-radius: 10px;
    min-height: 500px;
    padding: 20px;
}
.content-title {
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.comments-title {
    margin: 50px 0 5px 10px;
    color: lightcoral;
    font-weight: bolder;
    font-size: 1.2em;
}
.comments-content {
    min-height: 100px;
}
.paginator {
    margin-top: 20px;
}
.paginator .page {
    border: 1px solid lightcoral;
    background-color: lightcoral;
    color: #F5F5F5FF;
    margin-right: 2px;
    width: 32px;
    height: 38px;
    cursor: pointer;
}
.paginator .page:hover {
    scale: 1.1;
}
.paginator .page:active {
    background-color: darkgray;
}
.paginator .first-page {
    width: 55px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.paginator .current-page {
    color: #444444FF;
    border-color: #F5F5F5FF;
}
.paginator .last-page {
    width: 55px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/** Login */
.container-login, .container-registration {
    margin-left: 20%;
    margin-right: 20%;
}
.content-login, .content-registration {
    display: flex;
}
.login, .registration {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50%;
    gap: 1%;
    justify-content: center;
    align-content: center;
}
.login div, .registration div {
    margin-bottom: 20px;
}
.login input, .registration input {
    border-style: none;
    width: 100%;
    height: 30px;
    outline: none;
}
.login input:focus, .registration input:focus{
    outline: 2px solid lightcoral;
}
.login p, .registration p {
    color: darkred;
    text-align: center;
    margin-top: 2px;
}
.login a, .registration a {
    user-select: none;
    cursor: pointer;
}
/** Peculiarities */
.container-peculiarities {
    margin-left: 20%;
    margin-right: 20%;
}
.content-peculiarities {

}
.content-peculiarities p {
    justify-content: left;
    text-indent: 20px;
    font-size: 1.2em;
    line-height: 1.6em;
    color: black;
    font-weight: initial;
}
.peculiarities-menu ul{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 400px;
    margin: auto auto;
}
.peculiarities-menu ul li {
    border-right: 1px solid #444444FF;
    text-align: center;
}
.peculiarities-menu ul li:last-child {
    border-right: none;
}
.peculiarities-menu ul li:hover {
}
/** Nurseries */
.container-nurseries {
    margin-left: 25%;
    margin-right: 25%;
}
.content-nurseries {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}
.nurseries {
    display: grid;
    grid-template-columns: 20% 65% 15%;
    grid-template-rows: 10% 100%;
    grid-row-gap: 10px;
    border: 1px solid #444444FF;
    margin-bottom: 45px;
}
.nurseries h1{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    grid-column: 1/4;
    grid-row: 1/2;
    color: lightcoral;
}
.nurseries a {
    text-decoration: none;
    color: #444444FF;
}
.nurseries p {
    grid-column: 2/3;
    grid-row: 2/3;
    font-weight: initial;
}
.nurseries .image {
    grid-column: 1/3;
    grid-row: 2/3;
}
.nurseries .image img {
    min-width: 100px;
    max-width: 200px;
    margin: auto;
}
.contact-info button{
    width: 120px;
    height: 45px;
    z-index: 10;
    font-weight: bolder;
    margin: 0 auto 10px;
}
/** News */
.container-news {
    margin-left: 25%;
    margin-right: 25%;
}
.container-news-show{
    margin-left: 20%;
    margin-right: 20%;
}
.content-news {}
.news {
    border-radius: 5px;
    padding: 40px;
}
.news > div {
    color: #292727;
    border: 1px solid #444444FF;
    font-weight: initial;
    margin-bottom: 45px;
    padding: 10px;
}
.news > div:last-child {
    margin-bottom: 0;
}
.news hr {
    border-width: 1px;
    border-color: rgba(68, 68, 68, 0.3);
    width: 90%;
    opacity: 0.25
}
.news h1{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #f08080;
}
.news p{
    text-indent: 20px;
    font-size: 1.2em;
    line-height: 1.6em;
    color: black;
    font-weight: initial;
}
.news h1 > a {
    text-decoration: none;
    color: #f08080;
}
.news h1 > a:hover {
    text-decoration: underline;
}
.news h2 {
    text-indent: 20px;
}
.news .image {
    display: flex;
}
.news .image img {
    min-width: 100px;
    max-width: 400px;
    margin: auto;
}
.news-footer {
    display: flex;
    justify-content: space-between;
}
.news-footer .author {
    color: #f08080;
    text-indent: 0;
    text-align: left;
}
.news-footer .date {
    color: #f08080;
    text-indent: 0;
    text-align: right;
}
.news-show {
    padding: 20px;
}
.news-show > div {
    border: none;
}
.news-show a {
    color: #f08080;
}
.news-show svg:hover{
    scale: 1.2;
}
.comments {

}
.comments > div {
    display: grid;
    grid-template-columns: 10% 45% 45%;
    margin-top: 10px;
}
.comments img {
    grid-column: 1/2;
    grid-row: 1/4;
    width: 80px;
    height: 80px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 50%;
    object-fit: cover;
}
.comments .user-name {
    grid-column: 2/4;
    grid-row: 1/2;
}
.comments .user-name > span:first-child{
    font-weight: bolder;
    color: #f08080;
}
.comments .user-name > span:last-child{
    font-size: 0.8em;
}
.comments p {
    grid-column: 2/4;
    grid-row: 2/3;
}
.comments a {
    width: 120px;
    font-weight: bolder;
    color: #f08080;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.comments a:hover {
    cursor: pointer;
    background: rgba(240, 128, 128, 0.3);
}
.comments .show-more {
    grid-column: 2/3;
    grid-row: 3/4;
}
.answer-comment {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-right: 20px;
    display: flex;
    justify-content: right;
    font-size: 0.8em;
}
.answer-comment > a{
    margin-left: 10px;
    width: 65px;
    text-align: right;
}
.comments .comments-children {
    grid-column: 1/4;
    grid-row: 4/5;
}
.comments-children {
    margin-left: 60px;
}
.comments-children img {
    width: 60px;
    height: 60px;
}
.comments-loading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.input-comment textarea{
    grid-column: 1/4;
    grid-row: 1/2;
    margin: 0 40px;
    overflow: hidden;
    border: none;
    border-bottom: 1px solid #f08080;
    background-color: transparent;
    outline: none;
    resize: vertical;
}
.input-comment textarea::placeholder{
    color: #f08080;
    font-weight: normal;
    font-size: 1.3em;
    opacity: 0.5;
}
.input-comment div{
    grid-column: 3/4;
    grid-row: 2/3;
    margin: 10px 40px 20px 0;
    display: flex;
    justify-content: right;
    text-align: right;
}
.input-comment div a {
    width: 50%;
    text-align: right;
}
.input-comment a {
    white-space: nowrap;
}
.loading-text{
    color: #f08080;
    font-weight: initial;
}
.comments .comments-loading {
    display: flex;
}
.comments-loading{
    margin-left: 10%;
}
.comments-loading div{
    display: flex;
    width: 5px;
    height: 5px;
    background-color: #f08080;
    border-radius: 50%;
    margin-left: 5px;

    animation: myAnimationName;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
.comments-loading div:nth-of-type(1) {
    animation-delay: 0.25s;
}
.comments-loading div:nth-of-type(2) {
    animation-delay: 0.5s;
}
.comments-loading div:nth-of-type(3) {
    animation-delay: 0.75s;
}
.show-more {
    margin-bottom: 20px;
}
@keyframes myAnimationName {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    to {
        transform: scale(2);
    }
}
/** Media */
.container-media {
    margin-left: 20%;
    margin-right: 20%;
}
.content-media {
    align-items: normal;
    border-radius: 5px;
    padding: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap
}
.content-audio {

}
.counter-items-3 {
    justify-content: left;
}
.counter-items-4 {
    justify-content: space-between;
}
.media-menu ul{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    width: 400px;
    margin: auto auto;
    justify-content: space-between;

}
.media-menu ul li {
    border-right: 1px solid #444444FF;
    text-align: center;
}
.media-menu ul li:last-child {
    border-right: none;
}
.media-menu ul li:hover {
}
.close-button-position {
    position: absolute;
    top: 15px;
    right: 15px;
}
/** Photo */
.photo {
    margin: 10px 15px 10px 15px;
    width: 200px;
    height: 240px;
}
.photo div {
    width: 100%;
    height: 80%;
    background-color: transparent;
    /*border: 2px solid rgba(128, 128, 128, 0.5);*/
    border: 2px solid #f08080;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo-img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
}
.photo p {
    text-align: center;
    margin-top: 5px;
}
/** Video */
.video-img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
}

/** Audio */
.audio {
    width: 100%;
}
.audio audio {
    width: 100%;
}
.audio audio::-webkit-media-controls-play-button {
    background-color: #f08080;
    border-radius: 50%;
}
/** PersonalArea */
.personal-area {
    width: 100%;
    display: grid;
}
.text {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 30px;
}
.personal-area .update {
    display: flex;
    grid-column: 2/3;
    justify-content: right;
    align-items: center;
}
.btn-update {
    padding: 10px 10px;
    border-radius: 5px;
    margin-right: 5px;
}
.btn-active {
    background-color: #73C6B6 ;
}
.btn-cancel {
    background-color: #EC7063;
}
.text p {
    display: flex;
    align-items: center;
}
.text .static {
    font-weight: bold;
    color: #f08080;
}
.text .value {
    width: 100%;
    outline: none;
    background-color: transparent;
    font-weight: normal;
}
.size-12 {
    font-size: 1.2em;
}
.size-15 {
    font-size: 1.5em;
}
.input-unactive {
    border-color: transparent;
}
.input-active {
    border-color: transparent;
    border-bottom-color: #f08080;
}
.item {
    display: grid;
    grid-column: 1/3;
    grid-template-rows: 60% 40%;
    height: 50px;
    margin-bottom: 10px;
}
.personal-email {
    grid-row: 1/2;
}
.personal-login {
    grid-row: 2/3;
}
.personal-login p {
    margin: 10px 0;
}
.personal-avatar {
    grid-row: 3/4;
    height: 400px;
}
.personal-avatar p {
    grid-row: 3/4;
}
.block-img {
    width: 200px;
    height: 100px;
    /*grid-column: 1/2;*/
    /*grid-row: 4/5;*/
}
.img-file {
    position: relative;
    display: flex;
    width: 100%;
    border: 2px solid #f08080;
    height: 30px;
}

.img-file-input {
    opacity: 0;
    width: 190px;
}

.img-file-label {
    position: absolute;
    left: 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-right: 2px solid #f08080;
}
.img-file-label label {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.img-file-label:hover {
    background: rgba(160, 162, 161, 0.5);
}
.img-file-info {
    vertical-align: top;
}
.error-message {
    color: darkred;
    text-align: center;
}
/** Admin */
.container-admin {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin-left: 20%;
    margin-right: 10%;
}
.content-admin {
    margin-top: 80px;
    width: 100%;
}
.admin {}
.menu-admin {
    background-color: #f08080;
    border-radius: 10px;
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
}
.menu-admin ul{
    display: grid;
    width: 100%;
    height: 50px;
    font-weight: inherit;
    grid-template-columns: repeat(5, 20%);
}
.menu-admin ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid goldenrod;
    transition: 0.3s;
}
.menu-admin ul li:hover {
    background-color: white;
}
.menu-admin ul li:last-child {
    border: none;
}
.menu-admin ul li a {
    color: #444444FF;
    font-weight: bolder;
    text-decoration-color: transparent;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}
.menu-admin ul li a:hover {
    color: #B99D61FF;
}
.statistic {
    display: grid;
    grid-template-columns: 50% 50%;
}
.user-stats div, .media-stats div {
    margin-bottom: 30px;
    display: flex;
}
.user-stats div p:first-child, .media-stats div p:first-child {
    font-weight: bolder;
    color: #f08080;
}
.photo-size:before, .video-size:before, .audio-size:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 2px 5px;
}
.photo-size:before {
    background-color: #20A7FBE2;
}
.video-size:before {
    background-color: #6527FDDB;
}
.audio-size:before {
    background-color: #FF6363E5;
}
.user-stats div p:last-child, .media-stats div p:last-child {
    margin-left: 5px;
    color: #444444FF;
}
.all-size {
    margin-left: 15px;
}
.stat-line {
    grid-column: 1/3;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    margin-top: 200px;
}
.content-admin-users {
    margin-top: 80px;
    width: 100%;
    background: transparent;
    box-shadow: none;
    padding: 0;
}
.users {}
.users table {
    width: 100%;
    background-color: rgba(252,252,252,.7);
    border-collapse: collapse;
}
.users tr {
    border-bottom: 1px solid whitesmoke;
}
.users th, .users td {
    padding: 10px;
}
.users table thead, .users table tbody th{
    font-weight: bold;
    color: #f08080;
}
.users table tbody td{
    font-weight: lighter;
}
.users table thead tr th:nth-child(2),
.users table thead tr th:nth-child(3)
{
    width: 200px;
}
.users table thead tr th:nth-child(4) {
    width: 150px;
}
.users table thead th {
    text-align: start;
}
.users-btn-update a{
    color: #099409;
    text-decoration: none;
    cursor: pointer;
}
.users-btn-banned a{
    color: #940922;
    text-decoration: none;
    cursor: pointer;
}
.sorted {
    display: flex;
}
.sorted p{
    display: flex;
    align-items: center;
}
.sorted select {
    margin-left: 10px;
    width: 200px;
    height: 25px;
    border: 1px solid #f08080;
    outline: none;
}
.find {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.find input{
    width: 500px;
    height: 25px;
    border: 1px solid #f08080;
    outline: none;
}
.find a{
    margin-left: 10px;
}
.sorted-type-one, .sorted-type-two {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
}
.sorted-type-one:before {
    content: "";
    display: block;
    border-style: solid;
    height: 0;
    width: 0;
}
.sorted-type-two:before {
    content: "";
    display: block;
    border-style: solid;
    height: 0;
    width: 0;
}
.sorted-color-l:before {
    border-width: 10px 6px 0;
    border-color: #f08080 transparent transparent;
}
.sorted-color-b:before {
    border-width: 0 6px 10px;
    border-color: transparent transparent #333;
}
.user {
    width: 100%;
    display: grid;
    background-color: rgba(252,252,252,.7);
    padding: 20px;
}
.text-user {
    display: grid;
    grid-template-columns: 15% 85%;
}
.user .update {
    display: flex;
    grid-column: 1/2;
    justify-content: left;
    align-items: center;
}
.user .text select {
    width: 100px;
}
.item-image {
    height: 140px;
}
.select-active {
    border: 2px solid #f08080;
    outline: none;
}
.checkbox {
    width: 24px;
    height: 24px;
}
.checkbox-active, .checkbox-active:hover, .checkbox-active:focus, .checkbox-active:active {
    outline: 2px solid #f08080;
}
.img-active {
    border: 2px solid #f08080;
}
.text-left {
    display: flex;
    text-align: left;
    align-items: end;
    grid-column: 2/3;
}
.banned-line {
    background-color: rgba(240, 128, 128, 0.5);
}
@media screen and (min-width: 300px) and (max-width: 800px){
    nav {
        position: fixed;
        bottom: auto;
        left: 0;
        width: 100%;
        height: 20%;
        background-color: green;
        z-index: 1;
        padding: 20px;
    }
}
