.news {
    border-radius: 5px;
    padding: 40px;
    width: 80%;
}
.news > div {
    color: #292727;
    border: 1px solid #444444FF;
    font-weight: initial;
    margin-bottom: 45px;
    padding: 10px;
}
.news > div:last-child {
    margin-bottom: 0;
}
.news hr {
    border-width: 1px;
    border-color: rgba(68, 68, 68, 0.3);
    width: 90%;
    opacity: 0.25
}
.news h1{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.news p{
    justify-content: left;
    text-indent: 20px;
    font-size: 1.2em;
    line-height: 1.6em;
    color: black;
    font-weight: initial;
}
.news h1 > a {
    text-decoration: none;
    color: lightcoral;
}
.news h1 > a:hover {
    text-decoration: underline;
}
.news h2 {
    text-indent: 20px;
}
.news .image {
    display: flex;
}
.news .image img {
    min-width: 100px;
    max-width: 400px;
    margin: auto;
}
.news-footer {
    display: flex;
    justify-content: space-between;
}
.news-show {
    padding: 20px;
    width: 100%;
}
.news-show > div {
    border: none;
}
.news-show a {
    color: lightcoral;
}
.news-show svg:hover{
    scale: 1.2;
}
.comments {

}
.comments > div {
    display: grid;
    grid-template-columns: 10% 45% 45%;
    margin-top: 10px;
}
.comments img {
    grid-column: 1/2;
    grid-row: 1/4;
    width: 80px;
    height: 80px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 50%;
    object-fit: cover;
}
.comments .user-name {
    grid-column: 2/4;
    grid-row: 1/2;
}
.comments .user-name > span:first-child{
    font-weight: bolder;
    color: lightcoral;
}
.comments .user-name > span:last-child{
    font-size: 0.8em;
}
.comments p {
    grid-column: 2/4;
    grid-row: 2/3;
}
.comments a {
    width: 120px;
    color: lightcoral;
    font-weight: bolder;
}
.comments a:hover {
    cursor: pointer;
}
.comments .show-more {
    grid-column: 2/3;
    grid-row: 3/4;
}
.answer-comment {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-right: 20px;
    display: flex;
    justify-content: right;
    font-size: 0.8em;
}
.answer-comment > a{
    margin-left: 10px;
    width: 65px;
    text-align: right;
}
.comments .comments-children {
    grid-column: 1/4;
    grid-row: 4/5;
}
.comments-children {
    margin-left: 60px;
}
.comments-children img {
    width: 60px;
    height: 60px;
}
.comments-loading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.input-comment textarea{
    grid-column: 1/4;
    grid-row: 1/2;
    margin: 0 40px;
    overflow: hidden;
    border: none;
    border-bottom: 1px solid lightcoral;
    background-color: transparent;
    outline: none;
    resize: vertical;
}
.input-comment textarea::placeholder{
    color: lightcoral;
    font-weight: normal;
    font-size: 1.3em;
    opacity: 0.5;
}
.input-comment div{
    grid-column: 3/4;
    grid-row: 2/3;
    margin: 10px 40px 20px 0;
    display: flex;
    justify-content: right;
    text-align: right;
}
.input-comment div a {
    width: 50%;
    text-align: right;
}
.input-comment a {
    white-space: nowrap;
}
.loading-text{
    color: lightcoral;
    font-weight: initial;
}
.comments .comments-loading {
    display: flex;
}
.comments-loading{
    margin-left: 10%;
}
.comments-loading div{
    display: flex;
    width: 5px;
    height: 5px;
    background-color: lightcoral;
    border-radius: 50%;
    margin-left: 5px;

    animation: myAnimationName;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
.comments-loading div:nth-of-type(1) {
    animation-delay: 0.25s;
}
.comments-loading div:nth-of-type(2) {
    animation-delay: 0.5s;
}
.comments-loading div:nth-of-type(3) {
    animation-delay: 0.75s;
}
.show-more {
    margin-bottom: 20px;
}
@keyframes myAnimationName {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    to {
        transform: scale(2);
    }
}
