.content-peculiarities {
    display: flex;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    min-height: 500px;
    margin: auto;
    width: 100%;
}
.content-peculiarities p {
    justify-content: left;
    text-indent: 20px;
    font-size: 1.2em;
    line-height: 1.6em;
    color: black;
    font-weight: initial;
}
.peculiarities-menu ul{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 400px;
    margin: auto auto;
}
.peculiarities-menu ul li {
    border-right: 1px solid #444444FF;
    text-align: center;
}
.peculiarities-menu ul li:last-child {
    border-right: none;
}
.peculiarities-menu ul li:hover {
}
